.container {
  max-width: 600px;
  width: 100%;
}

.tabs {
  display: flex;
}

.list {
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 32px;
  list-style-type: none;
}